.headerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: hsl(25, 91%, 83%);
    color: rgb(32, 13, 3);
    font-weight: bold;
    padding: 10px
}